.form-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1.5rem;
  height: 100vh;
  z-index: 50;
  background-color: #040505ba;
}
.form-container {
  max-width: 719px;
  width: 100%;
  background-color: var(--dark-card-bg);
  padding: 3.6875rem 3.5rem 2rem 10rem;
  height: 100vh;
  position: relative;
  border-radius: 0 1.25rem 1.25rem 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow-y: auto;
}
.form-header,
.company-wrapper,
.company-header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.form-main-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.form-content {
  width: 100%;
  height: 700px;
  overflow-y: auto;
  padding-top: 2rem ;

}
.form-content::-webkit-scrollbar {
  display: none;
}
.profile-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  width: 100%;
}
.field-heading {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--secondary-color);
}
.field-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-top: 2rem;
  width: 100%;
}

/* INPUT FIELD STYLES.......................................... */
.input-field:not(.input-field.file-input) {
  background-color: var(--dark-bg)!important;
  border: 1px solid var(--dark-alt);
  width: 100%!important;
  height: 48px!important;
  border-radius: 0.5rem!important;
  margin-top: 0.5625rem!important;
  padding: 0 1rem 0 1.25rem!important;
  font-size: 0.9375rem!important;
  color: var(--white) !important;
  font-weight: bold!important;
  caret-color: var(--primary-color)!important;
}

.input-field::placeholder {
  font-size: 1rem;
  color: var(--neutral-dark);
}

.form-label {
  width: 100%;
  font-size: 0.8735rem;
  color: var(--neutral-light);
  position: relative;
}

.field.company-field {
  width: 100%;
}
.company-field.address,
.client-field.address {
  grid-column: span 2;
}
.company-field.logo,
.client-field.avatar {
  grid-column: span 2;
}
.form-label.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.file-input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 0%;
  cursor: pointer;
}

.custom-file-label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 48px;
  width: 100%;
  border: 1px dashed var(--dark-alt);
  /* background-color: var(--dark-alt); */
  color: var(--white);
  font-size: 0.9375rem;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
}
.uploaded {
  background-color: var(--green);
}
.check-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--white);
}
.success-icon {
  color: var(--green);
}

.custom-file-text {
  margin-top: 0.5rem;
}
.form-action-btn-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3.875rem;
  
  
}
.draft-send-wrapper{
  display: flex;
  align-items: center;
  gap: .5rem;
}
/* ERROR STATES */
.input-field.error-border:not(.items) {
  border:1px solid var(--error-red) !important;
  background-color: rgba(241, 76, 76, 0.211)!important;
}
.error-message{
  font-size: 0.8125rem;
  color: var(--error-red);
  margin-top: -0.5625rem;
  position: absolute;
  right: 0;
}
/* ACTIVE STATES */
.custom-file-label:not(.uploaded):hover {
  background-color: var(--primary-color);
}
.input-field:hover,
.input-field:focus {
  border-color: var(--primary-color) !important;
  cursor: pointer;
  caret-color: var(--primary-color);
  outline: none;
}
