.wrapper.detailsPage{
justify-content: flex-start!important;
margin-top: 4.8125rem;
min-height: 0!important;

}
.detailsPage-header{
    max-width: 1000px;
    width: 100%;
    display: flex;
    align-items: flex-start;
}
.go-back-link{
    font-size: .93125rem;
    font-weight: bold;
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 1.55rem;
    line-height: .93125rem;
}
.detailsPage-content-wrapper{
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.details-actions-card{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.9375rem;
    min-height: 88px;
    background-color: var(--dark-bg);
    padding: 0 2rem;
    border-radius: .5rem;
}
.details-status{
    display: flex;
    align-items: center;
    gap: 1.25rem;
}
.edit-delete-paid-wrapper{
    display: flex;
    align-items: center;
    gap: .5rem;
}

/* DETAILS PAGE CONTENT CARD STYLES................................ */
.details-content-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-bg);
    padding: 2rem;
    border-radius: .5rem;
}
.detailsPage-invoice-address{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.company-avatar{
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    border-radius: 50%;
    background-color: var(--orange);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: var(--white);
    font-weight: bold;
}
.company-client-address-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    align-items: flex-start;
    margin-top: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--dark-alt);
}
.address{
    display: flex;
    flex-direction: column;
    gap: .35rem;
    font-style: normal;
    
}
.company-name{
    font-size: 1.125rem;
    font-weight: bold;
    color: var(--white);
    text-transform: uppercase;
}
.description-date-due-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    margin-top: 1.5rem;
}
.details-label{
    font-size: 1.2rem;
    font-weight: bold;
}