.wrapper.detailsPage{
justify-content: flex-start!important;
margin-top: 4.8125rem;
min-height: 0!important;

}
.detailsPage-header{
    max-width: 730px;
    width: 100%;
    display: flex;
    align-items: flex-start;
}
.go-back-link{
    font-size: .93125rem;
    font-weight: bold;
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 1.55rem;
    line-height: .93125rem;
}
.detailsPage-content-wrapper{
    max-width: 730px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.details-actions-card{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.9375rem;
    min-height: 88px;
    background-color: var(--dark-bg);
    padding: 0 2rem;
    border-radius: .5rem;
}
.details-status{
    display: flex;
    align-items: center;
    gap: 1.25rem;
}
.edit-delete-paid-wrapper{
    display: flex;
    align-items: center;
    gap: .5rem;
}