.outer-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
  width: 100%;
  position: relative;
}
.wrapper{
  width: 100%!important;
  display: flex!important;
  flex-direction: column!important;
  align-items: center!important;
  justify-content: center!important;
  padding: 0 1.5rem!important;
  min-height: 100vh!important;
}

.btn{
  width: fit-content!important;
  height: 48px!important;
  border-radius: 1.5rem!important;
  padding: 0 1.5rem!important;
  color: var(--white)!important;
  font-size: .9375rem;
  font-weight: bold;
  background: var(--neutral-light);
}
.btn.edit{
  background: var(--dark-alt)!important;
  color: var(--neutral-light)!important;
}
.btn.delete{
  background: var(--error-red)!important;
}
.btn.markPaid,.btn.send{
  background: var(--primary-color)!important;
}
.btn.draft{
  background: #373B53!important;
}
.btn.discard{
  background: #F9FAFE!important;
  color: var(--accent-purple)!important;
}