.outer-container {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
  width: 100%;
  position: relative;
}
.wrapper {
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 0 1.5rem !important;
  min-height: 100vh !important;
}

.btn {
  width: fit-content !important;
  height: 48px !important;
  border-radius: 1.5rem !important;
  padding: 0 1.5rem !important;
  color: var(--white) !important;
  font-size: 0.9375rem;
  font-weight: bold;
  background: var(--neutral-light);
}
.btn.edit {
  background: var(--dark-alt) !important;
  color: var(--neutral-light) !important;
}
.btn.delete {
  background: var(--error-red) !important;
}
.btn.markPaid,
.btn.send {
  background: var(--primary-color) !important;
}
.btn.draft {
  background: #373b53 !important;
}
.btn.discard {
  background: #f9fafe !important;
  color: var(--accent-purple) !important;
}

/* MEDIA QUERIES FOR THE WHOLE APPLICATION */
@media screen and (max-width: 1024px) {
  /* (1) NAVBAR */
  .outer-container {
    flex-direction: column !important;
    align-items: center !important;
    /* height: 100vh!important; */
  }
  .navbar-wrapper {
    width: 100% !important;
    height: fit-content !important;
    /* position: relative !important; */
    top: none !important;
    flex-direction: row !important;
    align-items: center !important;
    padding-right: 1.5rem !important;
    border-radius: 0 !important;
  }
  .logo-item {
    width: 103px !important;
    height: 103px !important;
  }
  .nav-wrapper,
  .nav-list,
  .settings-profile-wrapper {
    width: fit-content !important;
  }
  .nav-list {
    flex-direction: row !important;
    align-items: center !important;
  }
  .nav-link {
    justify-content: center !important;
    padding-left: 0 !important;
    padding: 0.5rem !important;
  }
  .active-link {
    border-radius: 1.25rem !important;
    padding: .5rem 1rem!important;
  }
  .profile {
    border: none !important;
  }
  /* (2) Form */
  .form-wrapper {
    top: 105px !important;
    position: absolute !important;
    align-items: stretch !important;
  }
  .form-container {
    padding: 3.5rem 1.5rem 0 3.5rem !important;
  }
  .form-content {
    height: 550px !important;
  }
}
