.outer-container {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
  width: 100%;
  position: relative;
}
.wrapper {
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 0 1.5rem !important;
  min-height: 100vh !important;
}

.btn {
  width: fit-content !important;
  height: 48px !important;
  border-radius: 1.5rem !important;
  padding: 0 1.5rem !important;
  color: var(--white) !important;
  font-size: 0.9375rem;
  font-weight: bold;
  background: var(--neutral-light);
}
.btn.edit {
  background: var(--dark-alt) !important;
  color: var(--neutral-light) !important;
}
.btn.delete {
  background: var(--error-red) !important;
}
.btn.markPaid,
.btn.send {
  background: var(--primary-color) !important;
}
.btn.draft {
  background: #373b53 !important;
}
.btn.discard {
  background: #f9fafe !important;
  color: var(--accent-purple) !important;
}
.mobile {
  display: none !important;
}
/* MEDIA QUERIES FOR THE WHOLE APPLICATION */
/* TABLET SCREEN STYLES .....................*/

@media screen and (max-width: 1024px) {
  /* (1) NAVBAR */
  .outer-container {
    flex-direction: column !important;
    align-items: center !important;
    /* height: 100vh!important; */
  }
  .navbar-wrapper {
    width: 100% !important;
    height: fit-content !important;
    /* position: relative !important; */
    top: none !important;
    flex-direction: row !important;
    align-items: center !important;
    padding-right: 1.5rem !important;
    border-radius: 0 !important;
  }
  .logo-item {
    width: 103px !important;
    height: 103px !important;
  }
  .nav-wrapper,
  .nav-list,
  .settings-profile-wrapper {
    width: fit-content !important;
  }
  .nav-list {
    flex-direction: row !important;
    align-items: center !important;
  }
  .nav-link {
    justify-content: center !important;
    padding-left: 0 !important;
    padding: 0.5rem !important;
  }
  .active-link {
    border-radius: 1.25rem !important;
    padding: 0.5rem 1rem !important;
  }
  .profile {
    border: none !important;
  }
  /* (2) Form .....................*/
  .form-wrapper {
    top: 105px !important;
    height: calc(100vh - 105px) !important;
  }
  .form-container {
    padding: 3.5rem 1.5rem 2rem 3.5rem !important;
  }
  .form-content {
    height: 550px !important;
  }
  /* (3) HOME .....................*/
  .home-header {
    flex-direction: column-reverse !important;
    margin-top: 3rem !important;
  }
  .home-text-wrapper {
    align-items: center !important;
    text-align: center !important;
  }
  .feature-card-wrapper {
    grid-template-columns: 1fr 1fr !important;
    row-gap: 4rem !important;
  }
  .feature-card:nth-child(3) {
    grid-column: span 2 !important;
  }
}

/* MOBILE SCREEN STYLES .....................*/
@media screen and (max-width: 768px) {
  .logo-item {
    height: 90px !important;
    width: 72px !important;
  }

  /* (1) INVOICE CARDS AND FILTERS .....................*/

  .filter-newInvoice-wrapper {
    gap: 1.2rem !important;
  }
  .filter-subtext,
  .invoice-subtext {
    display: none !important;
  }
  .new-invoice-btn {
    min-width: fit-content !important;
    width: fit-content !important;
  }
  .add-icon {
    margin-right: 0.5rem !important;
  }
  .invoice-card-content {
    padding: 1.5rem !important;
    align-items: flex-start !important;
  }
  .invoice-id-due-total-wrapper {
    flex-direction: column !important;
    gap: 1.5rem !important;
    align-items: flex-start !important;
  }
  .total-status-wrapper {
    flex-direction: column !important;
    gap: 1.5rem !important;
    align-items: flex-end !important;
  }
  .client-name.mobile {
    text-align: right !important;
  }
  .mobile {
    display: flex !important;
  }
  .desktop,
  .arrow-icon.card {
    display: none !important;
  }
  /* (2) HOME PAGE .....................*/
  .feature-card-wrapper {
    grid-template-columns: 1fr !important;
    max-width: 500px !important;
  }
  .feature-card:nth-child(3) {
    grid-column: span 1 !important;
  }
  /* (3) FORM COMPONENT .....................*/
  .form-container {
    max-width: 100% !important;
    padding: 3rem 1.5rem !important;
    border-radius: 0 !important;
  }
  /* (4) DETAILS PAGE.....................*/
  .details-status {
    width: 100% !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
  }
  .edit-delete-paid-wrapper.mobile{
    display: flex !important;
    justify-content: flex-end !important;
    align-items: center !important;
    gap: 1.5rem !important;
  }
  .items-header {
    display: none !important;
  }

  .item {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .qty-price-wrapper {
    width: 100%;
  }
  .item-value.qty-price {
    color: var(--accent-purple) !important;
    font-weight: normal;
  }
  /* (5) SETTINGS PAGE .....................*/
  .wrapper.settings {
    min-height: 70vh !important;
  }
  .theme-wrapper {
    flex-direction: column !important;
    gap: 1.5rem !important;
    padding: 2rem 1.5rem !important;
  }
  .slider {
    max-width: 100% !important;
    flex-direction: row !important;
    border-radius: 1rem !important;
    padding: 1rem !important;
  }
  .slider-text {
    display: none !important;
  }
  .slider-btn {
    width: fit-content !important;
    border: 1px solid var(--neutral-light) !important;
    border-radius: 0.5rem !important;
  }
}
